@charset "utf-8";
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- */
/* ---------- CSS RESET ---------- */
/* ------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	/*font:inherit;*/
	font-style: normal;
	vertical-align: baseline;
	font-family:'NanumBarunGothic', '���� ����', 'Malgun Gothic', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
	font-weight:400;
}
li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{/*font-size:0;*/text-decoration:none;outline:none;color:inherit;}
input, select, textarea, div, p, span{outline:none;}
input[type=text]::-ms-clear{width:0; height:0;overflow:hidden;visibility:hidden;} 


html, body{margin: 0;padding: 0;}
/* 메인페이지 */
#tour_wrap{
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}
#tour_wrap .city{
    border: 1px solid #ddd;
    /* background-color: none; */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 30px auto 0;
    font-size: 18px;
    color: #6c6767;
}

/* 3rd Travel */
#city_wrap{
	background: #d7ebfa;
	padding-bottom: 70px;
}
#city_wrap hr{
	width: 90%;
    border: 1px solid #318ccb;
}
#city_wrap header{
	background: url('https://jeondaye.github.io/dayezzang/img/header_bg.png') no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 234px;
	text-align: center;
	position: relative;
}

#city_wrap header div{
	height: 234px;
	padding-top: 55px;
	backdrop-filter: blur(1.5px);
	box-sizing: border-box;
}
#city_wrap header div img{
	width: 80%;
}
#city_wrap h1{
	text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
#city_wrap h2{
    text-align: center;
    padding: 20px 0;
    font-size: 23px;
    border-radius: 10px;
    background: #a8d3f3;
    margin: 10px auto;
    font-family: 'KOTRAHOPE';
    width: 70%
}
#city_wrap h4{
    font-size: 15px;
    border-radius: 10px;
    margin: 20px 0 0;
    font-family: 'GmarketSans';
}
#city_wrap .city{
	padding: 0 20px;
}
#city_wrap .city p.tit{
	font-size: 20px;
	padding-bottom: 10px;
}
#city_wrap .city p{
	font-size: 15px;
	font-weight: bold;
}
#city_wrap .city i{
    font-size: 35px;
	position: relative;
	top: 10px;
}
#city_wrap .city .plan{
	line-height: 23px;
}
/* #city_wrap .city .plan .maplink span{line-height: 10px;} */
#city_wrap .city .plan .addr{
	font-size: 13px;
	padding-left: 60px;
}
#city_wrap .cake .plan .addr{
	padding-left: 0;
}
#city_wrap .city li{
	font-size: 18px;
}
#city_wrap .city p,
#city_wrap .city span{
	font-family: 'GmarketSans';
}

/* 카카오맵 불러오기 */
.maps1{
	font:normal normal 400 12px/normal dotum, sans-serif; width:100%; height:225px; color:#333; position:relative; padding: 20px 0;
}
.maps2{
	height: 200px;
}
.maps1 .maps2 img{
	width: 100%;
	height: 232px;
	border:1px solid #ccc;
}
.maps3{
	overflow: hidden; padding: 7px 11px; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0px 0px 2px 2px; background-color: rgb(249, 249, 249);
}

/* 2nd Travel */

/* 1st Travel */

.cake .maps1{
    width: 55%;
    height: 123px;
}
.cake .maps2{
	height: 140px;
}
.cake .maps1 .maps2 img{
	width: 100%;
    	height: 140px;
	border:1px solid #ccc;
}
.cake .maps3{
	display: none;
}

/* 2nd Travel */

/* 1st Travel */
