@charset "utf-8";
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
/* -------------------------------- */
/* ---------- CSS RESET ---------- */
/* ------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	/*font:inherit;*/
	font-style: normal;
	vertical-align: baseline;
	font-family:'NanumBarunGothic', '���� ����', 'Malgun Gothic', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
	font-weight:400;
}
li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{/*font-size:0;*/text-decoration:none;outline:none;color:inherit;}
input, select, textarea, div, p, span{outline:none;}
input[type=text]::-ms-clear{width:0; height:0;overflow:hidden;visibility:hidden;} 


html, body{margin: 0;padding: 0;}
/* 메인페이지 */
#tour_wrap{
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}
#tour_wrap .city{
    border: 1px solid #ddd;
    /* background-color: none; */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 30px auto 0;
    font-size: 18px;
    color: #fff;
}

/* 3rd Travel */
#city_wrap{
	background: antiquewhite;
}
#city_wrap h1{
	text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
#city_wrap h2{
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    background: #f5f5f5;
    margin: 10px 0;
}
#city_wrap h4{
	text-align: center;
    padding: 20px 0;
    font-size: 15px;
    border: 1px solid;
    border-radius: 10px;
    background: #f5f5f5;
    margin: 10px 0;
}
#city_wrap .city{
	padding: 0 20px;
}
#city_wrap .city p.tit{
	font-size: 20px;
	padding-bottom: 10px;
}
#city_wrap .city p{
	font-size: 15px;
	font-weight: bold;
}
#city_wrap .city i{
    font-size: 35px;
	position: relative;
	top: 10px;
}
#city_wrap .city .plan{
	line-height: 23px;
}
/* #city_wrap .city .plan .maplink span{line-height: 10px;} */
#city_wrap .city .plan .addr{
	font-size: 13px;
}
#city_wrap .city li{
	font-size: 18px;
}

/* 2nd Travel */

/* 1st Travel */